page-about {

}
#bu1{
    margin-top:3px;
    width: 24%;
    height: 50px;
    font-size: 12px;
    
}
#bu2{
    margin-top:3px;
    width: 24%;
    height: 50px;
    margin-left:1%;
    font-size: 12px;
}