page-scada2 {

}
.s1{
    
    height: 285px;
    // margin-left: 2.5%;
    background-color: #1C2C42;
    
}
.s1 div{
    width:24%;
    height: 55px;
    margin-top: 2px;
    margin-right: 1%;
    float: left;
    background-color: #2E4662;
}
.s1 table{
    width: 100%;
    height: 100%;
}
table tr{
    text-align: center;
}
.s1_1{
    width: 100%;
    height: 210px;
}
.s2,.s4{
    width: 24%;
    height: 210px;
    // background-color: aquamarine;
    margin-left: 1%;
    float:left;
}
.s3{
    width: 48%;
    height: 210px;
    // background-color: blueviolet;
    margin-left: 1%;
    float: left;
}
.s2 div{
    
    width: 100%;
    height: 48.5%;
    background-color: #2E4662;
}
.s3 div{
    width:100%;
    height:150px;
    background-color: aliceblue;
    margin-top: 20%;
}
.s4 div{
    width: 100%;
    height: 48.5%;
    background-color: #2E4662;
}