#servoShou{
    background-color: #112332;
}
#servod1{
    width:100%;
    height: 103px;
    background-color: #112332;
}
#servod1_1,#servod1_2{
    width:32%;
    height:100px;
    float: left;
    background-color: #2F4964;
    margin-left: 1%;
}
#servod1_11{
    width: 67%;
    height: 34%;
    float: left;
    font-size: 14px;
    text-align: left;
    line-height: 200%;
}
#servod1_12,#servod1_13{
    width: 33%;
    height: 15.5%;
    float: right;
}
#servod1_1 button{
    width: 90%;
    height: 90%;
    background-color: #2F4964;
    font-size: 2px;
}
#servod1_14,#servod1_15{
    width: 100%;
    height: 33%;
    float: left;
}
#servod1_21{
    width: 100%;
    height: 34%;
    text-align: center;
    line-height: 35px;
}
#servod1_22{
    width: 100%;
    height: 66%;
    text-align: center;
    // vertical-align: center;
    line-height: 50px;
}
#servoSpeed{
    width: 98%;
    height: 200px;
    margin-left: 1%;
    margin-top: -4px;
    background-color: #2F4964;

}

#servoPosition{
    width: 98%;
    height: 150px;
    margin-left: 1%;
    margin-top: -4px;
    background-color: #2F4964;
}
#servoShou button{
    background: -webkit-linear-gradient(#164459, #143953); /* Safari 5.1 - 6.0 */ 

    background: -o-linear-gradient(#164459, #143953); /* Opera 11.1 - 12.0 */  
   
   background: -moz-linear-gradient(#164459, #143953); /* Firefox 3.6 - 15 */  
   
   background: linear-gradient(#164459, #143953); /* 标准的语法 */
}
#servod1_12b, #servod1_13b{
    background-color: aqua;
}